<div class="container">
    <mat-toolbar>
        <span>Create new user</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="createUser()">

                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" >
                        <mat-form-field class="wide">
                            <mat-label>User</mat-label>
                            <input matInput autocomplete="off" formControlName="user">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="5" >
                        <img src="./assets/img/user.png" width="250px" height="250px">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1" >
                        <mat-form-field class="wide">
                            <mat-label>Name</mat-label>
                            <input matInput autocomplete="off" formControlName="name">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1" >
                        <mat-form-field class="wide">
                            <mat-label>Last name</mat-label>
                            <input matInput autocomplete="off" formControlName="lastname">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1" >
                        <mat-form-field class="wide">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender">
                              <mat-option *ngFor="let item of gender" [value]="item">
                                {{item}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1" >
                        <button mat-raised-button style="margin-right: 20px;">Back</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
                    </mat-grid-tile>
                </mat-grid-list>          
            </form>
        </mat-card-content>
    </mat-card>
</div>