table {
    width: 100%;
    margin-top: 10px;
  }

  th {
    width: 20%;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .contentMargin {
    margin-top: 5px
  }
